# SPDX-FileCopyrightText: Copyright 2020-present Open Networking Foundation.
# SPDX-License-Identifier: Apache-2.0
---
BasedOnStyle:  Google
---
Language:               Cpp
DerivePointerAlignment: false
PointerAlignment:       Left
---
Language:      TextProto
BasedOnStyle:  Google
DisableFormat: true
...
